.menu-bar {
    -fx-background-color: #3C3F41;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: #3C3F41;
}

.menu-item:hover {
    -fx-background-color: #0096C9;
}

.context-menu {
    -fx-background-color: #3E3F43;
}

.context-menu .label {
    -fx-text-fill: white;
}

.separator .line {
    -fx-border-color: #515151;
}

.tree-view {
    -fx-background-color: #3C3F41;
}

.tree-cell {
    -fx-background-color: #3C3F41;
    -fx-text-fill: white;
}

.tree-cell:selected {
    -fx-background-color: #0096C9;
}

.tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: white;
}

.tool-bar {
    -fx-background-color: #3C3F41;
}

.text-area {
    -fx-background-color: #2B2B2B;
    -fx-text-fill: white;
}

.text-area .content {
    -fx-background-color: #2B2B2B;
    -fx-fill: white;
}

.styled-text-area {
    -fx-background-color: #2B2B2B;
}

.styled-text-area .text {
    -fx-fill: white;
}