.menu {
    -fx-padding: 3 7.5 3 7.5;
}

.menu-bar {
    -fx-padding: 0;
}

.menu-item {
    -fx-padding: 2.75 7.5 2.75 7.5;
}

.context-menu {
    -fx-padding: 0.25 0.1 0.25 0.1;
}

.separator .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}
