.menu {
    -fx-padding: 3 7.5 3 7.5;
}

.menu-bar {
    -fx-padding: 0;
}

.menu-item {
    -fx-padding: 2.75 7.5 2.75 7.5;
}

.context-menu {
    -fx-padding: 0.25 0.1 0.25 0.1;
}

.separator .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}

.tree-view:focused {
    -fx-background-insets: 0;
}

.tree-cell {
    -fx-padding: 3 0 3 0;
    -fx-font-size: 12.4;
    -fx-indent: 18;
}

.tree-cell .tree-disclosure-node .arrow {
    -fx-padding: 4.5 3.5 4.5 3.5;
}

.button {
    -fx-background-color: transparent;
}

.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 15;
}

.styled-text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 14;
}
